.pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #eef2f3;
  min-height: 100vh;
  flex-direction: column;
}

.pokemon-heading {
  color: #34495e;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}

.pokemon-center {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 30px;
  transition: all 0.3s;
  width: 100%;
  max-width: 900px;
  align-items: center;
}

.pokemon-center:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pokemon-image {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  overflow: hidden;
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}

.pokemon-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.pokemon-image img:hover {
  transform: scale(1.1);
}

.pokemon-details {
  flex-grow: 1;
}

.pokemon-name {
  color: #34495e;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: left;
}

.pokemon-details table {
  width: 100%;
  border-collapse: collapse;
}

.pokemon-details th, .pokemon-details td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pokemon-details th {
  background-color: #bdc3c7;
  font-weight: 600;
}

.pokemon-details td {
  background-color: #ffffff;
}

.pokemon-type {
  background-color: #34495e;
  border-radius: 12px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 16px;
  margin: 4px;
  text-transform: capitalize;
  display: inline-block;
}
